th.o_column_sortable {
    max-width: 200px !important;
    min-width: 200px !important;
    width: 200px !important;
}
/* .custom_col_width {
    max-width: 500px !important;
    min-width: 500px !important;
    width: 500px !important;
} */
