@font-face {
    font-family: 'Arial';
    src: url(/start/static/fonts/ARIAL.TTF);
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Arial';
    src: url(/start/static/fonts/ARIALBD.TTF);
    font-style: bold;
    font-weight: 600;
}

.arial-font-size-table {
    font-family: Arial !important;
    font-size: 15px !important;
}